* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
}
.background {
    background-image: url("images/bakgrund-blad-mobil.webp");
    background-size: cover;
    background-position: center;
    min-height: 300vh;
    width: 100%;
    border: 4px solid red;
}
.innerContainer {
    border: 4px solid black;
    position: relative;
    height: 100vh;
    margin: 2rem 2rem;
    background-color: rgba(255,255,255,0.8);
}
.menu {
    border: 4px solid teal;
    text-align: right;
    position: relative;
    z-index: 2;
    height: 2.7rem;
    top: 0rem;
}
input {
    position: relative;
    top: 0rem;
    right: -2.5rem;
    z-index: 3;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
}
nav {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 0;
    left: 0;
}
input:checked + button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}
input:checked + button span:nth-child(1) {
    transform: rotate(45deg);
}
input:checked + button span:nth-child(2) {
    opacity: 0;
}
input:checked + button span:nth-child(3) {
    transform: rotate(-45deg);
}
input:checked ~ nav {
    visibility: visible;
    opacity: 1;
}
input:hover + button span:nth-child(2) {
    left: 0px;
}
button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
    z-index: 2;
    pointer-events: none;
    top: -1rem;
}
button span {
    width: 100%;
    height: 0.25rem;
    background-color: black;
    display: block;
    margin-bottom: 0.125rem;
    border-radius: 0.125rem;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
button span:nth-child(2) {
    left: -0.313rem;
    position: relative;
    transition: left 0.3s ease-in-out;
}
button:hover span:nth-child(2) {
    left: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}
.menuList {
    font-size: 2rem;
    font-family: 'rubik',sans-serif;
    font-weight: 700;
    color: black;
    text-shadow: 0px 2px 1px lightgrey;
    text-transform: uppercase;
}
.rubrikSida1 {
    border: 4px solid green;
    position: absolute;
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;

}
.bioPic {
    border: 4px solid brown;
    position: relative;
    top: 2.8rem;
    left: 0;
}
.sammanfattningRubrik {
    border: 4px solid orange;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 2.8rem;
    margin: auto;
}
.sammanfattning {
    border: 4px solid lightgreen;
    position: relative;
    top: 2.8rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
.erfarenhetRubrik {
    border: 4px solid grey;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 1rem;
}
.jobbBlockContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.jobbBlock {
    border: 4px solid pink;
    height: 29%;
    line-height: 0.8rem;
    margin-bottom: 1rem;
}
.portfolioRubrik {
    border: 4px solid yellow;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    }
.portfolioPic {
    border: 4px solid blue;
    position: static;
    top: 2rem;
    left: 0;
}
.portfolioBlock {
    border: 4px solid purple;
    line-height: 0.8rem;
    margin-bottom: 1rem;
}
.kontaktRubrik {
    border: 4px solid turquoise;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
.contactIconsContainer { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid lightblue;
    position: relative;
    width: 80%;  
}
@media (min-width: 1000px) {
    .background {
        background-image: url("images/bakgrund-blad.svg");
        background-size: auto;
    }
    .innerContainer {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}
    .jobbBlockContainer {
        display: flex;
        align-content: space-evenly;
        justify-content: center;
        gap: 2rem;
    }

