* {
    box-sizing: border-box;
}

body { 
    font-family: 'Nunito', sans-serif;
    overflow: auto;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    color: #16591c;
}

.background { 
    background-image: url("../images/bakgrund-blad-mobil.webp");
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
    max-width: 100%;
}

.backgroundWhite {
  min-height: 100vh;
  max-width: 100%;
}

.backgroundWhiteShort {
  max-width: 100%;
}

.background2 {
  background-image: url("../images/bakgrund-blad-mobil.webp");
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  max-width: 100%;
  margin-top: 5%;
}

.innerContainer1 { 
    position: absolute;
    min-height: 75vh;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 18px rgb(20, 20, 20);
    padding: 1rem;
    border-radius: 10px;
    top: 11%;
}

.innerContainer2 { 
    position: absolute;
    min-height: 75vh;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 18px rgb(20, 20, 20);
    padding: 1rem;
    border-radius: 10px;
    top: 102%;
}

.innerContainer2::before {    
  content: "";
  background-image: url("../images/bakgrund-blad-mobil.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.innerContainer3 { 
  position: absolute;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 10px 18px rgb(20, 20, 20);
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  top: 206%;
}

.innerContainer4 { 
  position: absolute;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 10px 18px rgb(20, 20, 20);
  padding: 1rem;
  border-radius: 10px;
  top: 306%;
}

.innerContainer4::before {    
  content: "";
  background-image: url("../images/bakgrund-blad-mobil.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}


.navbar {
    position: fixed;
    background-color: rgba(0,149,62,0.8);
    height: 10%;
    width: 100%;
    z-index: 3;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 25px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 1%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.2);
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  
  100% {
    width: 60%;
    opacity: 1;
  }
}

nav {
  background: #00953e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 2;
  opacity: 0;
  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 1%;
    padding-left: 10%;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      &:active {
      color: #16591c;
      }
      &:focus {
      color: #16591c;
      }
      &:visited {
      color: black;
      }
    }
  }
}

 nav.show {
   width: 60%;
   opacity: 1;
}
  
  @keyframes shotup {
    0% {
      transform: translateY(300%) ;
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%) ;
      opacity: 1;
    }
  }
  
.rubrikSida1 {
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
}
h3 {
    color: #16591c;
}

img {
    filter: grayscale(15%);
    outline: 4px solid #16591c;
    border-radius: 2px;
    max-width: 90%;
    height: auto;
}

.bioPic, .portfolioPic {
    top: 2.8rem;
    text-align: center;
    margin-top: 1rem;
}
.sammanfattning {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 2rem;
}
.studierRubrik, .portfolioRubrik, #sammanfattningRubrik {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.studierRubrik {
  position: relative;
}

.portfolioRubrik {
  margin-top: 2%;
}
.sammanfattningRubrik {
  margin-top: 1rem;
}
.skolBlock {
  position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 1rem;
}

li {
  text-align: left;
}
.portfolioBlock {
    height: 29%;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.portfolioBlock2 {
  padding: 0;
}
.kontaktRubrik {
  position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: 1rem auto;  
    top: 9rem;  
}
.contactIconsContainer {
  position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    top: 8rem;
}
.socialMedia { /*cirklarna daer kontaktbuttons ligger*/
    margin: 1rem 0px;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    border: 3px solid black;
    position: static;
    pointer-events: all;
}
.socialMedia:hover {
    background: #00953e;
    box-shadow: 5px 10px 18px rgb(20, 20, 20);
}
.socialMedia:focus {
    background: #00953e;
    box-shadow: 5px 10px 18px rgb(20, 20, 20);
}
@media (min-width: 1000px) { /*rules for big screens*/

  .navbar {
    height: 8%;
  }
  .hamburger-icon {
    width: 60px;
    height: 60px;
  }

  nav.show {
    width: 30%;
  }

  .icon-1, .icon-2, .icon-3 {
width: 30px;
  }

  .background, .background2 {
      background-image: url("../images/bakgrund-blad.svg");
      background-size: auto;
  }

  .bioPic {
    height: 300px;
    width: auto;
  }

  .innerContainer1 {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      min-height: 62vh;
      margin: 1rem 9rem;  
  }

  .sammanfattning, p, h5, ul, h3 {
    max-width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10%;
  }

  h5, h3 {
    text-align: center;
    margin-left: 10%;
  }

  h2 {
    font-size: 2rem;
  }

  .backgroundWhite {
    min-height: 80vh;
  }

  .innerContainer2 {
    top: 85%;
    margin: 1rem 9rem;
    min-height: 62vh;
  }
  .innerContainer3 {
    top: 185%;
    margin: 1rem 9rem;
    min-height: 62vh;
  }
  .innerContainer4 {
    top: 265%;
    margin: 1rem 9rem;
    min-height: 62vh;
  }

  .background2 {
    margin-top: 20px;
    min-height: 110vh;
  }
    .skolBlockContainer {
      position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: center;
        gap: 2rem;
    }
    .skolBlock {
        position: relative;
        max-width: 80%;
        border-radius: 4px;
    }
    .portfolioBlockContainer {
        display: flex;
        align-content: space-evenly;
        justify-content: center;
        gap: 2rem;
    }
    .skills {
        visibility: visible;
    }
    .kontaktRubrik {
      top: -6rem;
    }
    .contactIconsContainer {
      top:-4rem;
    }
}/*jag kaenner mig inte tillraeckligt insatt foer att anvaenda sass aennu, men haaller paa att laesa in mig mer i det, 
     kaenner mig noejd med att ha faatt det att fungera. Vill saetta in javascript senare foer att ladda upp respektive komponent naer man trycker paa dem i menyn.
     Kommer ocksaa att uppdatera med SVG bild paa loev senare, daa det var en hel del mer aen jag taenkte att saetta mig in i om man ska kunna manipulera innehaallet i grafiken via kod.
 */